@charset "UTF-8";

body {
    background-image: linear-gradient(135deg, #00F1F5, #ACFDFF);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #F56B20;
    font-size: 2.5em;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #00A8A3;
    width: 600px;
    padding: 10px;
    margin: auto;
}

select#lista {
    width: 250px;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 0.8em;
}