@charset 'UTF-8';

:root {
    --fonte-padrão: Arial, Calibri, Helvetica, sans-serif;
    --cor1: #141414;
    --cor2: #0059ff;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 100vh;
    background-color: var(--cor1);
    font-family: var(--fonte-padrão);
    color: white;
}

fieldset#principal {
    position: relative;
    padding: 10px;
    padding-bottom: 50px;
    border: 2px solid var(--cor2);
    margin: 20px;
}

legend#titulo {
    background-color: var(--cor2);
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 10px;
    border: 5px solid var(--cor1);
    border-radius: 10px;
    
}

fieldset.dados {
    padding: 8px;
    margin: 15px 0px;
}

#botao {
    display: block;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
}