@charset 'UTF-8';

:root {
    --fonte-padrão: Arial, Calibri, Helvetica, sans-serif;
    --cor1: #141414;
    --cor2: #0059ff;
    --cor3: #0045c5;
    --cor4: #5600c7;
}

body {
    background-image: linear-gradient(45deg, var(--cor2), var(--cor1));
    background-attachment: fixed;
}

form {
    position: absolute;
    background-color: #0000008f;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: var(--fonte-padrão);
    padding: 20px;
    border-radius: 10px;
}

fieldset {
    padding: 20px;
    border: 2px solid var(--cor2);
}

legend {
    background-color: var(--cor2);
    padding: 8px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
}

.caixa-input {
    position: relative;
    margin-top: 30px;
}

.input {
    background: none;
    border: none;
    outline: none;
    padding-top: 5px;
    border-bottom: 1px solid white;
    width: 100%;
    color: white;
}

.input-label {
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: .5s;
}

.input:focus ~ .input-label, .input:valid ~ .input-label {
    transition: .5s;
    font-size: 0.7em;
    top: -15px;
    color: var(--cor2);
}

#botao {
    background-image: linear-gradient(90deg, var(--cor3), var(--cor4));
    color: white;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
}